<%- include('partials/header') %> 

<main class="container not-found">
  <em>404</em>
  <h3>Cette page n'existe pas !!</h3>
  <p><a href="/">Retourner à l'accueil</a></p>
</main>

<%- include('partials/footer') %> 
