<%- include('partials/header') %> 
  <!-- <nav>
    <ul>
      <li><a href="/">Kanban View</a></li>
      <li><a href="/">Table View</a></li>
    </ul>
  </nav> -->
  <h3>Index</h3>
    <p><a href="/films">Liste des films</a></p>
  <main class="container">
    
  </main>
  <%- include('partials/footer') %> 